body{
    margin : 0;
}
#board{
width:600px;

border-style:solid;
border-color:black;
margin-left:30%;
margin-top:10%;
background-color:beige;
position:absolute;
display:grid;
grid-template-columns: repeat(4,100px); /* 250px + "largeur restante" */
grid-template-rows: repeat(3,100px);
grid-gap:70px;

}
.carre{
    width:100px;
    height:150px;
    
    border-radius:10px;
    background-image:url("images/dos.png")  ;
    background-size:cover ;
    background-repeat:no-repeat;
    border-style:solid;
    border-width:1px;
    background-position: center;
    

}
#a{
     grid-row: 1;
     grid-column: 1;

}
#b{
    grid-row: 1;
    grid-column: 2;
}
#c{
    grid-row: 1;
    grid-column: 3;
}
#d{
    grid-row: 1;
    grid-column: 4;
}
#e{
    grid-row: 2;
    grid-column: 1;
}
#f{
    grid-row: 2;
    grid-column: 2;
}
#g{
    grid-row: 2;
    grid-column: 3;
}
#h{
    grid-row: 2;
    grid-column: 4;
}
#i{
    grid-row: 3;
    grid-column: 1;
}
#j{
    grid-row: 3;
    grid-column: 2;
}
#k{
    grid-row: 3;
    grid-column: 3;

}
#l{
    grid-row: 3;
    grid-column: 4;
}
